- var menu = ['home', 'about us', 'services', 'blog', 'contact']
- var aboutUs = ['Company Overview', 'Customers', 'Testimonials']
- var services = ['UI Design', 'Consulting', 'Support']
- var blog = ['Latest posts', 'Popular posts']
- var contact = ['Online', 'Addresses', 'Map']

- var content__block_1 = {title: 'About us', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus semper ligula, nec euismod massa cursus vitae. Proin blandit, eros eget aliquam interdum.', button: 'Read more'}
- var content__block_2 = {title: 'why wind', text: 'Nunc ut fermentum orci. Praesent lobortis sapien in venenatis ultrices. Proin eu mi molestie, accumsan purus et, tempor dui. Sed nec leo ligula.', button: 'learn more'}
- var content__block_3 = {title: 'cheap energy', text: 'Cras arcu enim, consequat vel tempus vel, pretium nec nisl. Cras tempus sem in arcu ultrices sollicitudin sit amet ac nibh. Ut fermentum venenatis diam.', button: 'get it now'}
- var content__blocks = [content__block_1, content__block_2, content__block_3]


- var coats__block_1 = {image: 'images/image.png',title: 'Ut consequat ante et mattis', text: 'Donec feugiat tristique tellus. Etiam sed placerat sem. Curabitur risus erat, tristique at leo et, ultrices aliquet lectus.'}
- var coats__block_2 = {image: 'images/image.png', title: 'Aenean dictum felis lacu', text: 'Suspendisse sed ornare orci. Phasellus sed vehicula turpis. Nullam rhoncus porta tortor, vitae blandit erat interdum ac.'}
- var coats__block_3 = {image: 'images/image.png', title: 'Curabitur aliquet dolor ac eleifend', text: 'Pellentesque at nisi placerat, molestie dui at, malesuada augue. Duis in bibendum arcu, nec molestie enim.'}
- var content__boxes = [coats__block_1, coats__block_2, coats__block_3]

- var whyUs = {title: 'why us?', text: 'Fusce vulputate nisi libero, eget posuere lectus vulputate in. Nullam vulputate mauris a porta dignissim. Nam et purus imperdiet, venenatis mi et, facilisis leo. Ut volutpat mi in tortor pharetra, in ullamcorper dolor suscipit. Nunc feugiat, enim sit amet rutrum blandit, quam magna vehicula diam, in dictum quam nunc ut.'}
- var mission = {title: 'mission', text: 'Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer vitae sagittis sapien. Praesent lectus ipsum, ullamcorper et fringilla quis, adipiscing a tortor. Duis mauris felis, tincidunt id lobortis eget, placerat non nibh. Nunc congue libero vel nulla congue placerat. '}
- var ourCeo = {title: 'our ceo', text: 'Donec pharetra felis sem, a viverra velit varius eu. Vestibulum lorem elit, vestibulum a neque tempus, blandit aliquet felis. Nunc pulvinar tellus eu lacus suscipit, sit amet volutpat lorem pharetra. Donec sit amet nulla felis. Sed non lacus fringilla, eleifend sem quis, tincidunt urna. Nulla facilisi. Morbi nec eleifend massa.'}

- var content__aboutUs = [whyUs, mission, ourCeo]

