doctype html
html
	include _constants.pug
	head
		title Whitesquare
		link(rel="stylesheet" href="style.css")
		link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:300,400,700" rel="stylesheet")
	body
		include _header.pug
		block main
		include _footer.pug
